@import '~bootstrap/scss/bootstrap.scss';
 
.body{
  transition: 0.3s;
}
.switch{
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(39,38,38);
  position: relative; //fater child pos
  margin-top: 20px;
}

.flicker{
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(255,255,255);
  position: absolute; //this requires pos relative to the parent
  top:5px;
  left:5px;
  box-shadow: inset 4px 4px 4px rgb(255,255,255),
  inset -6px -6px 4px rgb(115, 196, 228);
}

.dark{
  background-color: rgb(115, 196, 228);
  transition: 0.3s;
}

.moon{
  width:20px;
  height:20px;
  border-radius: 10px;
  box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
  position: absolute;
  top:5px;
  left: 45px;
}

.dark .flicker{
  transform: translateX(40px);
  transition:0.3s;
}

.hero-image{
  position: relative;
  width: 50%;
  height: 230px;
}

.main{
  height: 80vh;
  display: flex;
  flex-direction: row;
}
.cube{
  position: absolute;
  width: 80px;
  height: 100px;
  // background-color: royalblue;
  background-image: url("/images/fanaticlogo.jpg");
  background-size: cover;
  transform: rotate(-25deg) skew(25deg);

}
.cube:before{
  position:absolute;
  content: "";
  width:21px;
  height:80px;
  background-color: rgb(231, 124, 124);
  transform: skewY(-45deg);
  left:-20px;
  bottom:-10px;
  margin-top: 40px;
}

.cube:after{
  position:absolute;
  content: "";
  width:100%;
  height:21px;
  background-color: rgb(231, 124, 124);
  transform: skewX(-45deg);
  left:-10px;
  bottom:-20px;
}

#jp {
  left: 150px;
  background-image: url("/images/jplogo.jpg");
  background-size: cover;
  background-color: skyblue;
  box-shadow: grey;
  width: 80px;
  height: 80px;
}

#jp:before{
  background-color: rgb(3, 2, 2);
}

#jp:after{
  background-color: rgb(227, 233, 139);
}

#starboard {
  left: 300px;
  background-image: url("/images/starboardlogo.png");
  background-size: cover;
  background-color: skyblue;
  box-shadow: grey;
  width: 80px;
  height: 80px;
}

#starboard:before{
  background-color: skyblue;
}

#starboard:after{
  background-color: skyblue;
}

#mistral {
  left: 450px;
  background-image: url("/images/mistallogo.png");
  background-size: cover;
  background-color: skyblue;
  box-shadow: grey;
  width: 80px;
  height: 80px;
}

#mistral:before{
  background-color: rgb(16, 20, 221);
}

#mistral:after{
  background-color: rgb(241, 77, 77);
}

.nav-link active{
  text-decoration: none;
}

.card{
  background-color: rgb(241, 241, 241);
  margin: 50px;
  border: 2px solid #1C6EA4;
}

div.card-body{
  margin-bottom: 200px;
}

.card-img-top{
  border: 1px solid #ddd;
  border-radius: 4px;
}
